export LANG=en_US.UTF-8

export NNN_PLUG='f:finder;p:preview-tabbed;m:xdgdefault'
export NNN_FIFO=/tmp/nnn.fifo
# export NNN_OPTS="H"

export GOPATH=$HOME/.go

export JAVA_VERSION=openjdk@1.11
export JAVA_HOME=$HOME/.jabba/jdk/$JAVA_VERSION

export ANDROID_HOME=$HOME/Android/Sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

export LOCAL_HOME=$HOME/.local
export PATH=$PATH:$LOCAL_HOME/bin

export PATH=/$PATH:/$GOPATH/bin:/$JAVA_HOME/bin

export SDKMAN_DIR="$HOME/.sdkman"

